.signup-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 2.5rem;
  margin-right: 1rem;
}
.signup-form-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signup-form-img-svg {
  fill: #8e8686;
  align-self: flex-end;
}
.signup-form-heading {
  color: black;
  font-weight: 200;
  margin: 1rem 0;
  margin-bottom: 0.2rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.already-heading {
  font-size: 0.5rem;
}
